@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background: #1a1a1a;
}

button {
  outline: none;
  cursor: pointer;
}

input {
  outline: none;
}
